# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Compiled files
*.class
*.jar
*.war

# macOS
.DS_Store
/Tema6_Complementario/nbproject/private/
/Tema6_Ejercicio_9/nbproject/private/
/tema6_Ejercicio_10/nbproject/private/
/Tema6_Ejercicio_11/nbproject/private/
/Tema6_Ejercicio_12/nbproject/private/
/Tema6_Ejercicio_13/nbproject/private/
/Videojuego/nbproject/private/
/Tema6_Ejercicio_14/nbproject/private/
/Tema6_Ejercicio_15/nbproject/private/
/Tema6_Ejercicio_16/nbproject/private/
